<h1>Contato</h1>
<h2>{{first_name}} {{last_name}}</h2>

<dl>
  <dt>Email</dt>
  <dd>{{email}}</dd>

  <dt>Title</dt>
  <dd>{{title}}</dd>
</dl>

<p>
  Updated at: {{formatted-date updatedAt 'MMMM Do, YYYY [at] h:mm a'}}
  <br>
  Created at: {{formatted-date createdAt 'MMMM Do, YYYY [at] h:mm a'}}
</p>
