<h1>Contatos</h1>
<ul>
  {{#each}}
    <li>
      {{#link-to 'contact' this}}
        {{last_name}},
        {{first_name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No contacts found.</li>
  {{/each}}
</ul>
